.footer {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 30px;
  font-size: smaller;
}

@media all and (max-width: 1000px) {
  .footer {
    font-weight: 100;
    font-size: x-small;
  }
}
